PORT=8090

POSTGRES_USER=webhook
POSTGRES_PASSWORD=webhook
POSTGRES_DB=webhook_delivery
POSTGRES_PORT=5432
DATABASE_URL=postgres://webhook:webhook@db:5432/webhook_delivery?sslmode=disable

RABBITMQ_DEFAULT_USER=webhook
RABBITMQ_DEFAULT_PASS=webhook
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://webhook:webhook@rabbitmq:5672/
RABBITMQ_EXCHANGE=webhook.events
RABBITMQ_QUEUE=webhook.delivery
RABBITMQ_ROUTING_KEY=webhook.created
RABBITMQ_DLX=webhook.events.dlx
RABBITMQ_DLQ=webhook.delivery.dlq
